

div#flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    align-self: center;
}

div#logo { 
    display: flex;
    height: 100px;
    width: 300px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

div#canvas-container {
    display: flex;
    width: 750px;
    height: 500px;
    border-radius: 10px;
    -webkit-box-shadow: -4px 14px 36px 5px rgba(0,0,0,0.37);
    -moz-box-shadow: -4px 14px 36px 5px rgba(0,0,0,0.37);
    box-shadow: -4px 14px 36px 5px rgba(0,0,0,0.37);
}

div#colors {
    display: flex;
    width: 500px;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
}

div#colors > div {
    display: flex;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.7);
    box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.7);
    border: 2px solid #f7f7f7;
}

div#hidden {
    display: none;
}

div#colors > div:hover {
    cursor: pointer;
}

div#red {
    background-color: red;
}

div#blue {
    background-color: blue;
}

div#green {
    background-color: green;
}

div#yellow {
    background-color: yellow;
}

div#orange {
    background-color: orange;
}

div#purple {
    background-color: purple;
}

div#black {
    background-color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
    html {
        transform: scale(.45);
        overflow-x: hidden;
    }

}
