<html>
    <head>
        <title>Quick Draw</title>
        <script>window.location.href = "http://sharedrawings.herokuapp.com/"</script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag 'home_style.css', media: 'print, screen' %>
    </head>
    <body>

        <div id="flex">
            <div id="logo">
                <h1>Share a Drawing</h1>
                <p>problems with https certificate, please use http for demo purposes: <a href="http://sharedrawings.herokuapp.com/">http://sharedrawings.herokuapp.com/</a></p>
            </div>
            <div id="colors">
                <div id="red"></div><div id="blue"></div><div id="green"></div><div id="yellow"></div><div id="orange"></div><div id="purple"></div><div id="black"></div>
            </div>
            <div id="canvas-container">
                <canvas id="canvas">

                </canvas>
            </div>

            <div id="linkbutton"><h2>Get link</h2></div>
            <div id="completed">please wait...</div>
        
        
        </div>

        <div id="hidden"></div>
        <div id="key"></div>
        




    </body>
    <footer>
        <%= javascript_include_tag 'draw' %>
        <%= javascript_include_tag 'colors' %>
        <script>

            let proxyUrl = 'https://ancient-hamlet-73756.herokuapp.com/'
            document.getElementById("linkbutton").addEventListener("click", function(){
                let button = document.getElementById('linkbutton')
                let completed = document.getElementById('completed')
                button.style.display = "none"
                completed.style.display = "flex"
                let configurationObject = {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json",
                        "Authorization": "Client-ID 27a78494c88d8d5"
                    },
                    body: JSON.stringify({
                        image: canvas.toDataURL().slice(22)
                    })
                }

                fetch(proxyUrl + "https://api.imgur.com/3/upload", configurationObject)
                    .then(function(response){
                        return response.json()
                    })
                    .then(function(object){
                        console.log(object)
                        console.log(object.data.link)
                        console.log(future_key)
        

                        let newConfig = {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "Accept": "application/json"
                            },
                            body: JSON.stringify({
                                link: `${object.data.link}`,
                                key: `${future_key}`
                            })
                        }

                        console.log(newConfig)

                        fetch("http://sharedrawings.herokuapp.com/savedrawing", newConfig)
                            .then(function(response){
                                return response.json()
                            })
                            .then(function(object){
                                

                                changeLink(object.key)
                            })
                        
                    })
            })
        
        
        
        </script>
    </footer>
</html>